/JavaApplication3/nbproject/private/
/JavaApplication3/build
/GerenciadorDeEstoque/nbproject/private/
/GerenciadorDeEstoque/build/
/GerenciadorDeEstoque/dist/
/Teste/nbproject/private/
/Teste/build/
/Teste/dist/
/Gerenciador/nbproject/private/
/Gerenciador/build/
/teste/nbproject/private/
/teste/build/
/Ateste/nbproject/private/
/Ateste/build/
/GerenciadorDeEstoqu/nbproject/private/
/GerenciadorDeEstoqu/build/
/GerenciadorDeEstoqu/dist/
/teste/dist/
/Gerenciado/build/
/Gerenciado/dist/
/Gerenciado/nbproject/private/
/gerenciador/build/
/gerenciador/dist/
/gerenciador/nbproject/private/
/gerenciadordeestoque/nbproject/private/
/gerenciadordeestoque/dist/
/gerenciadordeestoque/build/
/GerenciadorDeEstoque_1/nbproject/private/