/JavaApplication3/nbproject/private/
/JavaApplication3/build
/GerenciadorDeEstoque/nbproject/private/
/GerenciadorDeEstoque/build/
/GerenciadorDeEstoque/dist/
/Teste/nbproject/private/
/Teste/build/
/Teste/dist/