.prop-buttons{
    -fx-background-color:  rgb(72,69,174);
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-weight: bold ; 
    -fx-font-family: tahoma;
    -fx-background-radius: 20;
    -fx-pref-width: 380;
    

}
.other-button{
    -fx-background-color:  rgb(72,69,174);
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-weight: bold ; 
    -fx-font-family: tahoma;
    -fx-background-radius: 20;
    -fx-pref-width: 150;
    
    
}
.general-button{
    
    -fx-background-color:  rgb(127,108,235);
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-font-family: tahoma;
    -fx-font-size: 18;
    
}
.text-comum{
    -fx-font-family: tahoma;
    
}
.text-field{
    -fx-background-color:  rgb(127,108,235);
    -fx-border-color: rgb(127,108,235);
    
    
}
.text-field:focus {
     -fx-background-color:  rgb(127,108,235);
      -fx-border-color: rgb(127,108,235);
}
.date-picker {
    -fx-background-color:  rgb(127,108,235);
    -fx-border-width: 0;
    -fx-text-fill: white;
    
}
.date-picker .text-field{
    -fx-background-color:  rgb(127,108,235);
    -fx-text-fill: white;
    -fx-border-width: 0;
    
    
}
.date-picker .prompt-text {
    -fx-background-color: rgb(127, 108, 235);
}

.gradiente{
    -fx-background-color: linear-gradient(to bottom right, red, yellow);

    
}
.combo-box  {
    -fx-background-color: rgb(127,108,235); 
    
}

.combo-box-base .text{
    -fx-fill: white;
    
    
}
.combo-box .list-cell{
    -fx-background-color: rgb(127,108,235); 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    
}


